body {
    background-color: black;
    color: white;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.left {
    width: 22vw;
    /* padding: 10px; */
}

.home {
    /* padding: 35px; */
    font-weight: 550;
    align-items: center;
}

.home ul li {
    width: 25px;
    gap: 16px;
    list-style-type: none;
    display: flex;
    padding-top: 14px;
    align-items: center;
    justify-content: start;
}

.heading {
    /* width: 25px; */
    gap: 12px;
    display: flex;
    padding-top: 14px;
    align-items: center;
    justify-content: start;
}

.home-box {
    position: relative;
    top: 3px;
    right: 6px;
}

.library {
    min-height: 38vw;
    position: relative;
}

.footer {
    display: flex;
    font-size: 12px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: gray;
    text-decoration: none;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header>* {
    padding: 16px;
}

.right {
    width: 76vw;
    margin: 6px 2px;
}

.artists {
    padding: 6px;
    background-color: #121212;
    height: 64vw;
    /* position: relative;
    top: 34px; */
    z-index: 0;
}

.artists h1 {
    padding: 62px 13px 32px;
    font-size: 31px;
}

/* .nav-color {
    background-color: #090909; 
    z-index: 2;
} */
.card {
    /* border: 2px solid red;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 34px 8px;
    width: 170px;
}

.card img {
    border-radius: 50%;
    height: 165px;
    width: 165px;
}

.card h2 {
    text-align: left;    
    font-size: 15px;
    font-weight: 200;
}


.cardContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #121212;
    padding: 12px;
    justify-content: center;
}


